Repository tovrleaf/obscvratfi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pytest, html-validation

ruff-check:
  name: ruff-check
  description: Run ruff linter on Python files
  entry: .venv/bin/ruff check
  language: system
  stages:
  - commit

pytest:
  name: pytest
  description: Run pytest on Python test files
  entry: .venv/bin/pytest
  language: system
  stages:
  - commit
  pass_filenames: false

html-validation:
  name: html-validation
  description: Validate HTML using html5lib (pure Python)
  entry: scripts/test-html.sh
  language: script
  pass_filenames: false
  stages:
  - push

Add 10 new gear items to inventory
  website/data/gear/dassum-dual-clipper-mic.yaml
  website/data/gear/dassum-shake-box.yaml
  website/data/gear/death-by-audio-absolute-destruction.yaml
  website/data/gear/dunlop-cry-baby.yaml
  website/data/gear/error-instruments-data-synth.yaml
  website/data/gear/lehle-dual-expression.yaml
  website/data/gear/metsaan-resin-contact-mic.yaml
  website/data/gear/moog-minifooger-mf-trem-v2.yaml
  website/data/gear/olegtron-4060.yaml
  website/data/gear/saturnworks-4-loop-looper.yaml
Due: none

Add 8 new gear items to inventory
  website/data/gear/allen-heath-zed-10.yaml
  website/data/gear/korg-ms-20-fs.yaml
  website/data/gear/korg-sq-1.yaml
  website/data/gear/moog-grandmother.yaml
  website/data/gear/moog-werkstatt-01-cv-expander.yaml
  website/data/gear/orange-crush-10.yaml
  website/data/gear/orange-or15-h.yaml
  website/data/gear/orange-ppc112.yaml
Due: none

Add ADR-019: Archived gear visibility system
  docs/adr/019-archived-gear-visibility-system.md
Due: none

Implement archived gear visibility system
  scripts/manage_gear.py
  website/data/gear/archived/bad-cat-amplifiers-bfd.yaml
  website/data/gear/archived/boss-rc-20xl.yaml
  website/data/gear/archived/crate-gx-20m-amp-20w.yaml
  website/data/gear/archived/crate-palomino-v212.yaml
  website/data/gear/archived/electro-harmonix-holy-grail.yaml
  website/data/gear/archived/hughes-and-kettner-vortex-100w-head.yaml
  website/data/gear/archived/hughes-and-kettner-vortex-4-x-12-cab.yaml
  website/data/gear/archived/ibanez-digital-delay-dl5.yaml
  website/data/gear/archived/ibanez-ibz3-24w.yaml
  website/data/gear/archived/mad-professor-yellow-mellow.yaml
  website/data/gear/archived/marshall-jackhammer-jh-1.yaml
  website/data/gear/archived/marshall-sv-1-supervibe.yaml
  website/data/gear/archived/orange-ad30-htc.yaml
  website/data/gear/archived/orange-fs-1.yaml
  website/data/gear/archived/zoom-1010.yaml
  website/data/gear/archived/zvex-effects-super-hard-on.yaml
  website/layouts/gear/list.html
  website/static/css/main.css
Due: ruff-check, pytest, html-validation

Change Orange gear category from Instrument to Amplifier
  website/data/gear/orange-crush-10.yaml
  website/data/gear/orange-or15-h.yaml
  website/data/gear/orange-ppc112.yaml
  website/data/gear/orange-tiny-terror-head.yaml
Due: none

Add new gear: instruments and amplifiers
  website/data/gear/epiphone-gibson-stratocaster.yaml
  website/data/gear/gibson-les-paul-standard-2013.yaml
  website/data/gear/hiwatt-se4123f-guitar-extension-speaker-cabinet.yaml
  website/data/gear/jackson-atx-dinky.yaml
  website/data/gear/sound-city-mark-4-mkiv-120-75.yaml
Due: none

Add Vercel-style README header and improve music pages
  README.md
  logo.png
  website/content/music/fridlyst-rauhoitettu.md
  website/content/music/world-rat-conspiracy.md
  website/layouts/music/single.html
Due: html-validation

Add social media preview image and vignette effect to videos
  website/layouts/media/list.html
  website/layouts/partials/og-tags.html
Due: html-validation

Add mobile tap feedback and replace camera icon with SVG
  website/layouts/media/list.html
  website/static/css/main.css
  website/static/icons/camera.svg
Due: html-validation

Replace Font Awesome with custom SVG icons
  website/layouts/_default/baseof.html
  website/layouts/license/section.html
  website/layouts/media/list.html
  website/layouts/partials/footer.html
  website/static/icons/bandcamp.svg
  website/static/icons/instagram.svg
  website/static/icons/youtube.svg
Due: html-validation

Release v1.5.0: UI improvements and Font Awesome removal
  CHANGELOG.md
Due: none

Fix version sync across all files
  README.md
  scripts/bump_version.py
  website/static/changelog.txt
Due: ruff-check, pytest

Document agent limitations and add Fairfield Circuitry gear
  AGENTS.md
  website/data/gear/fairfield-circuitry-unpleasant-surprise.yaml
Due: none

Release v1.5.0: UI improvements and Font Awesome removal (#32)
  AGENTS.md
  README.md
  scripts/bump_version.py
  website/data/gear/fairfield-circuitry-unpleasant-surprise.yaml
  website/static/changelog.txt
Due: ruff-check, pytest

Add logo to footer with divider and styling
  website/layouts/partials/footer.html
  website/static/css/main.css
  website/static/images/obscvrat-logo-footer.png
Due: html-validation

Add footer background image with scroll-based fade effect
  website/layouts/partials/footer.html
  website/static/css/main.css
  website/static/images/footer-background.jpg
  website/static/js/main.js
Due: html-validation

Add gradient fade effect to footer logo
  website/static/css/main.css
  website/static/js/main.js
Due: none

Add gear inventory improvements and new pedals
  website/data/gear/sold/bad-cat-amplifiers-bfd.yaml
  website/data/gear/sold/boss-rc-20xl.yaml
  website/data/gear/sold/crate-gx-20m-amp-20w.yaml
  website/data/gear/sold/crate-palomino-v212.yaml
  website/data/gear/sold/electro-harmonix-holy-grail.yaml
  website/data/gear/sold/hughes-and-kettner-vortex-100w-head.yaml
  website/data/gear/sold/hughes-and-kettner-vortex-4-x-12-cab.yaml
  website/data/gear/sold/ibanez-digital-delay-dl5.yaml
  website/data/gear/sold/ibanez-ibz3-24w.yaml
  website/data/gear/sold/mad-professor-yellow-mellow.yaml
  website/data/gear/sold/marshall-jackhammer-jh-1.yaml
  website/data/gear/sold/marshall-sv-1-supervibe.yaml
  website/data/gear/sold/orange-ad30-htc.yaml
  website/data/gear/sold/orange-fs-1.yaml
  website/data/gear/sold/zoom-1010.yaml
  website/data/gear/sold/zvex-effects-super-hard-on.yaml
  website/data/gear/th-fx-noisedevices-vortex.yaml
  website/data/gear/want/dod-fx86-death-metal.yaml
  website/layouts/gear/list.html
  website/static/css/main.css
Due: html-validation

Add Puppeteer MCP server configuration
  .kiro/mcp.json
Due: none

Add communication style guidelines
  .kiro/style.md
Due: none

Move communication style to AGENTS.md
  .kiro/style.md
  AGENTS.md
Due: none

Fix sold/want checkbox styling and filter behavior
  website/layouts/gear/list.html
  website/static/css/main.css
Due: html-validation

Update about page record labels and styling
  website/content/about/_index.md
  website/layouts/about/section.html
Due: html-validation

Add gear stats, JSON and plain text outputs
  website/hugo.toml
  website/layouts/gear/list.html
  website/layouts/gear/list.json.json
  website/layouts/gear/list.txt.txt
  website/static/css/main.css
Due: html-validation

Release v1.6.0: Gear improvements, stats, and about page updates
  CHANGELOG.md
  README.md
  website/static/changelog.txt
Due: none

Release v1.6.0: Gear improvements, stats, and about page updates (#33)
  .kiro/mcp.json
  AGENTS.md
  CHANGELOG.md
  README.md
  website/content/about/_index.md
  website/data/gear/sold/bad-cat-amplifiers-bfd.yaml
  website/data/gear/sold/boss-rc-20xl.yaml
  website/data/gear/sold/crate-gx-20m-amp-20w.yaml
  website/data/gear/sold/crate-palomino-v212.yaml
  website/data/gear/sold/electro-harmonix-holy-grail.yaml
  website/data/gear/sold/hughes-and-kettner-vortex-100w-head.yaml
  website/data/gear/sold/hughes-and-kettner-vortex-4-x-12-cab.yaml
  website/data/gear/sold/ibanez-digital-delay-dl5.yaml
  website/data/gear/sold/ibanez-ibz3-24w.yaml
  website/data/gear/sold/mad-professor-yellow-mellow.yaml
  website/data/gear/sold/marshall-jackhammer-jh-1.yaml
  website/data/gear/sold/marshall-sv-1-supervibe.yaml
  website/data/gear/sold/orange-ad30-htc.yaml
  website/data/gear/sold/orange-fs-1.yaml
  website/data/gear/sold/zoom-1010.yaml
  website/data/gear/sold/zvex-effects-super-hard-on.yaml
  website/data/gear/th-fx-noisedevices-vortex.yaml
  website/data/gear/want/dod-fx86-death-metal.yaml
  website/hugo.toml
  website/layouts/about/section.html
  website/layouts/gear/list.html
  website/layouts/gear/list.json.json
  website/layouts/gear/list.txt.txt
  website/layouts/partials/footer.html
  website/static/changelog.txt
  website/static/css/main.css
  website/static/images/footer-background.jpg
  website/static/images/obscvrat-logo-footer.png
  website/static/js/main.js
Due: html-validation

Fix footer smoke effect on mobile
  website/static/css/main.css
Due: none

Release v1.6.1: Fix footer smoke effect on mobile
  CHANGELOG.md
  README.md
  website/static/changelog.txt
Due: none

Release v1.6.1: Fix footer smoke effect on mobile (#34)
  CHANGELOG.md
  README.md
  website/static/changelog.txt
  website/static/css/main.css
Due: none

Fix manage_live.py bugs in poster path and YAML format
  CHANGELOG.md
  README.md
  scripts/manage_live.py
  scripts/tests/test_manage_live.py
  website/assets/images/music/vol-1-cover.jpg
  website/assets/images/music/vol-1-insert.png
  website/assets/media/live/2026-10-28-kulttuuria-kylilla-ravals/obscvrat-kulttuuria-kylilla-ravals-poster-2026.jpg
  website/assets/media/logos/obscvrat-logo-black.jpg
  website/assets/media/logos/obscvrat-logo-transparent.png
  website/assets/media/logos/obscvrat-logo-white.jpg
  website/content/live/2026-10-28-kulttuuria-kylilla-ravals.md
  website/content/music/vol-1.md
  website/data/live/2026-10-28-kulttuuria-kylilla-ravals.yaml
  website/data/music/fridlyst-rauhoitettu.yaml
  website/data/music/vol-1.yaml
  website/data/music/world-rat-conspiracy.yaml
  website/hugo.toml
  website/layouts/media/list.html
  website/static/changelog.txt
Due: ruff-check, pytest, html-validation

Release v1.7.0: new gig, album, logos section, bug fixes
  CHANGELOG.md
Due: none

Path conditions:
  ruff-check: any of: \.py$, but not: (?x)^(
  website/(public|resources)/|
  \.git/|
  \.pre-commit/
)

  pytest: any of: ^scripts/.*\.py$, but not: (?x)^(
  website/(public|resources)/|
  \.git/|
  \.pre-commit/
)

  html-validation: any of: ^website/(layouts/|content/|archetypes/|hugo\.toml), but not: (?x)^(
  website/(public|resources)/|
  \.git/|
  \.pre-commit/
)

