Repository tovrleaf/obscvratfi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pytest, html-validation

.pre-commit-config.yaml:

# Pre-commit hooks configuration for local development validation
# Mirrors GitHub Actions CI/CD pipeline checks locally
# Run automatically before git push to catch issues early
#
# Setup: make setup-hooks
# Run manually: make run-hooks
# Uninstall: make uninstall-hooks
#
# See ADR-004 for decision rationale: docs/adr/004-local-pre-commit-hooks-for-development-validation.md
#
# Note: Linting (shellcheck, yamllint, pymarkdown) runs in pre-commit hook via scripts/pre-commit-lint.sh
#       Pre-push only runs expensive checks (build, HTML validation, secrets, links)

repos:
  # Secret scanning (prevent accidental credential commits)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets
        description: Prevent secrets from being committed
        args: ['--baseline', '.secrets.baseline']
        stages: [push]
        exclude: |
          (?x)^(
            website/public/|
            \.secrets\.baseline$
          )

  # Custom hooks
  - repo: local
    hooks:
      # Python linting and testing
      - id: ruff-check
        name: ruff-check
        description: Run ruff linter on Python files
        entry: .venv/bin/ruff check
        language: system
        files: \.py$
        stages: [commit]

      - id: pytest
        name: pytest
        description: Run pytest on Python test files
        entry: .venv/bin/pytest
        language: system
        files: ^scripts/.*\.py$
        stages: [commit]
        pass_filenames: false

      # Hugo build validation
      - id: hugo-build
        name: hugo-build
        description: Validate Hugo build (dev mode)
        entry: bash -c 'cd website && hugo && cd ..'
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]
        exclude: ^website/(archetypes|README.md)

      # HTML validation with change detection
      - id: html-validation
        name: html-validation
        description: Validate HTML using html5lib (pure Python)
        entry: scripts/test-html.sh
        language: script
        pass_filenames: false
        files: ^website/(layouts/|content/|archetypes/|hugo\.toml)
        stages: [push]

      # Custom link validation
      - id: critical-links
        name: critical-links
        description: Validate critical internal links
        entry: scripts/pre-push-link-checker.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [push]

# Global settings
exclude: |
  (?x)^(
    website/(public|resources)/|
    \.git/|
    \.pre-commit/
  )
fail_fast: false
minimum_pre_commit_version: '2.15.0'

Fix pre-commit hook warnings and secret detection
  .pre-commit-config.yaml
  .secrets.baseline
  mk/test/Makefile
Due: none

Release v1.2.0: Testing infrastructure and performance improvements
  CHANGELOG.md
  website/data/changelog.txt
Due: none

Fix CHANGELOG formatting and bump_version.py
  CHANGELOG.md
  scripts/bump_version.py
Due: ruff-check, pytest

Fix CI/CD: Use Hugo directly instead of Docker
  .github/workflows/pr-checks.yml
Due: none

Fix Hugo permalink configuration for CI/CD
  website/hugo.toml
Due: html-validation

Restructure documentation to emphasize AI-first development
  .kiro/prompts/branch.md
  AGENTS.md
  README.md
Due: none

Restructure agent instructions and create shared testing guidelines
  .kiro/instructions/build.md
  .kiro/instructions/commit.md
  .kiro/instructions/plan.md
  .kiro/instructions/test.md
  .kiro/instructions/testing.md
  .kiro/prompts/workflow-release.md
  AGENTS.md
Due: none

Fix make test and make adr command references
  AGENTS.md
  README.md
Due: none

Fix make adr command references in ADR documentation
  docs/adr/001-adr-template.md
  docs/adr/README.md
Due: none

Update ADR-012 to reference Python version bump script
  docs/adr/012-semantic-versioning-for-ai-driven-development.md
Due: none

Clarify ADR-014 context shows historical state
  docs/adr/014-python-for-complex-scripts-with-test-coverage.md
Due: none

Implement comprehensive link and image validation with htmltest
  .gitignore
  .htmltest.yml
  mk/test/Makefile
Due: none

Update ADR-004 with htmltest link validation approach
  docs/adr/004-development-testing-and-validation-requirements.md
Due: none

Fix poster image paths in live page template
  website/layouts/live/list.html
Due: html-validation

Fix photo gallery image paths
  website/layouts/media/list.html
Due: html-validation

Improve navigation layout and add icon
  website/hugo.toml
  website/layouts/partials/header.html
  website/static/images/nav-icon.png
Due: html-validation

Reduce filter button background opacity
  website/layouts/live/list.html
Due: html-validation

Add prev/up/next navigation to single pages
  website/layouts/live/single.html
  website/layouts/music/single.html
Due: html-validation

Add mobile tap-to-reveal interaction for media gallery
  website/layouts/media/list.html
Due: html-validation

Implement comprehensive image optimization with Hugo processing
  docs/adr/015-image-optimization-with-hugo-processing.md
  docs/adr/README.md
  website/assets/images/about/obscvrat-harsh-noise-experimental.jpg
  website/assets/images/music/fridlyst-rauhoitettu-cover.jpg
  website/assets/images/music/grand-declaration-of-wall-cover.jpg
  website/assets/images/music/world-rat-conspiracy-cover.jpg
  website/assets/images/music/worldwide-gore-vol-1-cover.jpg
  website/content/about/_index.md
  website/layouts/about/section.html
  website/layouts/index.html
  website/layouts/live/list.html
  website/layouts/live/single.html
  website/layouts/media/list.html
  website/layouts/music/section.html
  website/layouts/music/single.html
  website/layouts/shortcodes/img.html
Due: html-validation

Update ADR-015 with implementation summary and results
  docs/adr/015-image-optimization-with-hugo-processing.md
Due: none

Release v1.3.0: Image optimization and navigation improvements
  CHANGELOG.md
  website/data/changelog.txt
Due: none

Release v1.3.0: Image optimization and navigation improvements (#25)
  .gitignore
  .htmltest.yml
  .kiro/instructions/build.md
  .kiro/instructions/commit.md
  .kiro/instructions/plan.md
  .kiro/instructions/test.md
  .kiro/instructions/testing.md
  .kiro/prompts/branch.md
  .kiro/prompts/workflow-release.md
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/adr/001-adr-template.md
  docs/adr/004-development-testing-and-validation-requirements.md
  docs/adr/012-semantic-versioning-for-ai-driven-development.md
  docs/adr/014-python-for-complex-scripts-with-test-coverage.md
  docs/adr/015-image-optimization-with-hugo-processing.md
  docs/adr/README.md
  mk/test/Makefile
  website/assets/images/about/obscvrat-harsh-noise-experimental.jpg
  website/assets/images/music/fridlyst-rauhoitettu-cover.jpg
  website/assets/images/music/grand-declaration-of-wall-cover.jpg
  website/assets/images/music/world-rat-conspiracy-cover.jpg
  website/assets/images/music/worldwide-gore-vol-1-cover.jpg
  website/content/about/_index.md
  website/data/changelog.txt
  website/hugo.toml
  website/layouts/about/section.html
  website/layouts/index.html
  website/layouts/live/list.html
  website/layouts/live/single.html
  website/layouts/media/list.html
  website/layouts/music/section.html
  website/layouts/music/single.html
  website/layouts/partials/header.html
  website/layouts/shortcodes/img.html
  website/static/images/nav-icon.png
Due: html-validation

Fix release workflow documentation
  .kiro/instructions/commit.md
  AGENTS.md
  docs/adr/012-semantic-versioning-for-ai-driven-development.md
Due: none

Fix release workflow documentation (#26)
  .kiro/instructions/commit.md
  AGENTS.md
  docs/adr/012-semantic-versioning-for-ai-driven-development.md
Due: none

Fix deploy workflow to trigger on tag pushes
  .github/workflows/deploy.yml
Due: none

Fix deploy workflow to trigger on tag pushes (#27)
  .github/workflows/deploy.yml
Due: none

Fix deploy job condition to allow tag push events
  .github/workflows/deploy.yml
Due: none

Fix deploy job condition to allow tag push events (#28)
  .github/workflows/deploy.yml
Due: none

Fix duplicate version header in CHANGELOG.md
  CHANGELOG.md
Due: none

Fix duplicate version header in CHANGELOG.md (#29)
  CHANGELOG.md
Due: none

Add ADR-016: CloudFront Analytics for website traffic monitoring
  docs/adr/016-cloudfront-analytics-for-website-traffic-monitoring.md
  docs/adr/README.md
  infrastructure/iam-cloudfront-analytics-readonly.json
Due: none

Add favicons and web manifest
  website/layouts/_default/baseof.html
  website/static/android-chrome-192x192.png
  website/static/android-chrome-512x512.png
  website/static/apple-touch-icon.png
  website/static/favicon-16x16.png
  website/static/favicon-32x32.png
  website/static/favicon.ico
  website/static/site.webmanifest
Due: html-validation

Optimize hero logo by splitting into animated and static parts
  website/layouts/index.html
  website/static/css/main.css
  website/static/logo.svg
  website/static/obscvrat-logo-animated.gif
  website/static/obscvrat-logo-full.gif
  website/static/obscvrat-logo-static.png
Due: html-validation

Add workflow prompt and ADR creation script
  .kiro/prompts/workflow-lint-fix-changed.md
  scripts/new_adr.py
Due: ruff-check, pytest

Replace shell ADR script with Python version
  .kiro/instructions/plan.md
  mk/adr/Makefile
  scripts/new-adr.sh
Due: none

Add ADR-017: Makefile as Universal Command Interface
  docs/adr/017-makefile-as-universal-command-interface.md
  docs/adr/README.md
Due: none

Add fzf selection with numbered fallback to media/live scripts
  scripts/manage_live.py
  scripts/manage_media.py
  scripts/tests/test_manage_live.py
  scripts/tests/test_manage_media.py
Due: ruff-check, pytest

Add video to Älä löi en ole hurrinoise performance
  website/content/live/2026-01-17-ala-loi-en-ole-hurrinoise.md
  website/data/live/2026-01-17-ala-loi-en-ole-hurrinoise.yaml
Due: html-validation
