Repository tovrleaf/obscvratfi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pytest, html-validation

ruff-check:
  name: ruff-check
  description: Run ruff linter on Python files
  entry: .venv/bin/ruff check
  language: system
  stages:
  - commit

pytest:
  name: pytest
  description: Run pytest on Python test files
  entry: .venv/bin/pytest
  language: system
  stages:
  - commit
  pass_filenames: false

html-validation:
  name: html-validation
  description: Validate HTML using html5lib (pure Python)
  entry: scripts/test-html.sh
  language: script
  pass_filenames: false
  stages:
  - push

Add image gallery with lightbox navigation to music pages
  website/layouts/music/single.html
Due: html-validation

Add inside images to Fridlyst / Rauhoitettu album
  website/assets/images/music/fridlyst-rauhoitettu-inside-1.jpeg
  website/assets/images/music/fridlyst-rauhoitettu-inside-2.jpeg
  website/content/music/fridlyst-rauhoitettu.md
Due: html-validation

Add inside images to World Rat Conspiracy album
  website/assets/images/music/world-rat-conspiracy-inside-1.jpg
  website/assets/images/music/world-rat-conspiracy-inside-2.jpg
  website/assets/images/music/world-rat-conspiracy-inside-3.jpg
  website/assets/images/music/world-rat-conspiracy-inside-4.jpg
  website/assets/images/music/world-rat-conspiracy-inside-5.jpg
  website/assets/images/music/world-rat-conspiracy-inside-6.jpg
  website/assets/images/music/world-rat-conspiracy-inside-7.jpg
  website/content/music/world-rat-conspiracy.md
Due: html-validation

Update YouTube channel URL from @iamrat2 to @obscvrat
  docs/adr/007-homepage-design-system-dark-minimal-asymmetric.md
  website/hugo.toml
Due: html-validation

Update Bandcamp URL from iamrat to obscvrat
  docs/adr/007-homepage-design-system-dark-minimal-asymmetric.md
  website/content/music/fridlyst-rauhoitettu.md
  website/content/music/grand-declaration-of-wall.md
  website/content/music/world-rat-conspiracy.md
  website/content/music/worldwide-gore-vol-1.md
  website/data/music/fridlyst-rauhoitettu.yaml
  website/data/music/grand-declaration-of-wall.yaml
  website/data/music/world-rat-conspiracy.yaml
  website/data/music/worldwide-gore-vol-1.yaml
  website/hugo.toml
Due: html-validation

Release v1.4.0: Image galleries, fzf selection, and branding updates
  AGENTS.md
  CHANGELOG.md
  README.md
  website/data/changelog.txt
Due: none

Automate tag creation and GitHub releases
  .github/workflows/deploy.yml
Due: none

Fix broken link in AGENTS.md
  AGENTS.md
Due: none

Center hero logo on mobile devices
  website/static/css/main.css
Due: none

Add ADR-018 for gear inventory management system
  docs/adr/018-gear-inventory-management-and-display-system.md
  docs/adr/README.md
Due: none

Add gear management CLI and Makefile integration
  .kiro/prompts/add-gear.md
  Makefile
  mk/gear.mk
  requirements-dev.txt
  scripts/manage_gear.py
Due: ruff-check, pytest

Add gear inventory page with Hugo template
  website/content/gear/_index.md
  website/data/gear/.gitkeep
  website/data/gear/boss-bd-2-blues-driver.yaml
  website/data/gear/earthquaker-devices-data-corrupter.yaml
  website/data/gear/warm-audio-ringerbringer.yaml
  website/layouts/gear/list.html
Due: html-validation

Add gear page CSS with rust smoke filter tags
  website/static/css/main.css
Due: none

Link gear page from about and exclude from search engines
  website/content/about/_index.md
  website/layouts/_default/_markup/render-link.html
  website/layouts/about/section.html
  website/static/robots.txt
Due: html-validation

Move changelog.txt from data to static directory
  website/static/changelog.txt
Due: none

Add six new pedals to gear inventory
  website/data/gear/death-by-audio-space-bender.yaml
  website/data/gear/earthquaker-devices-hizumitas.yaml
  website/data/gear/electro-harmonix-freeze.yaml
  website/data/gear/intensive-care-audio-vena-cava-filter.yaml
  website/data/gear/masf-pedals-wata-fuzz.yaml
  website/data/gear/zvex-effects-super-duper-2-in-1.yaml
Due: none

Unify rough border styling for filter controls and gear items
  website/static/css/main.css
Due: none

Add two Walovoid pedals to gear inventory
  website/data/gear/walovoid-filth-grinder-ii.yaml
  website/data/gear/walovoid-the-distroyer.yaml
Due: none

Improve gear page layout and add toggle all button
  website/static/css/main.css
Due: none

Add searchable filter dropdowns with datalist
  website/layouts/gear/list.html
Due: html-validation

Add three new pedals to gear inventory
  website/data/gear/boss-hm-2-heavy-metal.yaml
  website/data/gear/meris-hydra.yaml
  website/data/gear/meris-ottobit-jr.yaml
Due: none

Replace toggle button text with icon indicators
  website/layouts/gear/list.html
Due: html-validation

Add icon styling for toggle button
  website/static/css/main.css
Due: none

Update add-gear prompt to require image examination
  .kiro/prompts/add-gear.md
Due: none

Add six new items to gear inventory
  website/data/gear/jmt-synth-dnvo-1.yaml
  website/data/gear/meris-hedra.yaml
  website/data/gear/metsaan-noise-nihil.yaml
  website/data/gear/rucci-electronics-bent-time-drive.yaml
  website/data/gear/sunmachine-effects-colossus.yaml
  website/data/gear/tc-electronic-flashback-ii-x4.yaml
  website/data/gear/thfx-noisedevices-ritas-cracked-pointe-shoe.yaml
Due: none

Standardize gear data field names and capitalization
  website/data/gear/boss-bd-2-blues-driver.yaml
  website/data/gear/boss-hm-2-heavy-metal.yaml
  website/data/gear/death-by-audio-space-bender.yaml
  website/data/gear/earthquaker-devices-data-corrupter.yaml
  website/data/gear/earthquaker-devices-hizumitas.yaml
  website/data/gear/electro-harmonix-freeze.yaml
  website/data/gear/intensive-care-audio-vena-cava-filter.yaml
  website/data/gear/masf-pedals-wata-fuzz.yaml
  website/data/gear/meris-hedra.yaml
  website/data/gear/meris-ottobit-jr.yaml
  website/data/gear/walovoid-filth-grinder-ii.yaml
  website/data/gear/walovoid-the-distroyer.yaml
  website/data/gear/warm-audio-ringerbringer.yaml
  website/data/gear/zvex-effects-super-duper-2-in-1.yaml
Due: none

Update gear template for controls field and separate type badges
  website/layouts/gear/list.html
Due: html-validation

Add color differentiation to gear metadata badges
  website/static/css/main.css
Due: none

Add Hugo build to generate command
  mk/generate.mk
Due: none

Add MCP server for gear management
  .kiro/mcp.json
  .kiro/prompts/add-gear.md
  .mcp/gear-server/README.md
  .mcp/gear-server/SETUP.md
  .mcp/gear-server/pyproject.toml
  .mcp/gear-server/server.py
  .mcp/gear-server/test_server.py
  AGENTS.md
Due: ruff-check

Rename prompt from @add-gear to @gear-add
  .kiro/prompts/gear-add.md
Due: none

Remove gallery fields from music pages
  website/content/music/fridlyst-rauhoitettu.md
  website/content/music/world-rat-conspiracy.md
Due: html-validation

Add five new pedals to gear inventory
  website/data/gear/death-by-audio-evil-filter.yaml
  website/data/gear/death-by-audio-rooms.yaml
  website/data/gear/earthquaker-devices-acapulco-gold.yaml
  website/data/gear/earthquaker-devices-plumes.yaml
  website/data/gear/fairfield-circuitry-accountant.yaml
Due: none

Add four new pedals to gear inventory
  website/data/gear/death-by-audio-fuzz-war.yaml
  website/data/gear/fairfield-circuitry-long-life.yaml
  website/data/gear/tc-electronic-ditto-looper.yaml
  website/data/gear/tc-electronic-hall-of-fame-reverb.yaml
Due: none

Add Stereo type to stereo-capable reverb pedals
  website/data/gear/death-by-audio-rooms.yaml
Due: none

Add clickable filtering to gear page attributes
  website/layouts/gear/list.html
  website/static/css/main.css
Due: html-validation

Fix version display in footer
  website/layouts/partials/version.html
Due: html-validation

Remove technology dropdown from gear page
  website/layouts/gear/list.html
Due: html-validation

Add 11 new gear items to inventory
  website/data/gear/landscape-stereo-field.yaml
  website/data/gear/metsaan-dirty-drone-lowlife.yaml
  website/data/gear/metsaan-echoblender.yaml
  website/data/gear/metsaan-stochastic-asymmetry.yaml
  website/data/gear/metsaan-total-control.yaml
  website/data/gear/proco-rat-2.yaml
  website/data/gear/tc-electronic-ditto-looper-x2.yaml
Due: none

Path conditions:
  ruff-check: any of: \.py$, but not: (?x)^(
  website/(public|resources)/|
  \.git/|
  \.pre-commit/
)

  pytest: any of: ^scripts/.*\.py$, but not: (?x)^(
  website/(public|resources)/|
  \.git/|
  \.pre-commit/
)

  html-validation: any of: ^website/(layouts/|content/|archetypes/|hugo\.toml), but not: (?x)^(
  website/(public|resources)/|
  \.git/|
  \.pre-commit/
)

